---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base";

// Colors
$blue: #080830;
$lightblue: #74C5CD;
$yellow: #F8B126;
$magenta: #D3326F;
$red: #E8453B;
$gray: #3B3B3B;
