---
layout: default
---
<div id="main" class="container">
  <h1>Entradas antiguas</h1>
  {% assign postsByYearMonth = site.posts | where:"highlighted",false | shift:6 | group_by_exp:"post", "post.date | date: '%Y %b'"  %}
  {% for yearMonth in postsByYearMonth %}
  {% assign counter = 1 %}
    <h3>{{ yearMonth.name }}</h3>
    <div class="row">
    {% for post in yearMonth.items %}
        <div class="col-sm-4 col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading article-news">
              {% if post.single_image[0].img %}
              <img src="{{ post.single_image[0].img }}" alt="{{ destacada.title }}" title="{{ destacada.title }}" class="img-responsive">
              {% else %}
              <div class="no-image-header"></div>
              {% endif %}
            </div>
            <div class="panel-body">
              <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h2>
              <p>{{ post.intro }}</p>
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            </div>
          </div>
        </div>
      {% assign cnt = counter|modulo:3 %}
      {% if cnt == 0 %}</div><div class="row">
      {% endif %}
        {% assign counter = counter | plus:1 %}
    {% endfor %}
    </div>
  {% endfor %}

</div>
