---
layout: default
---

<div id="main" class="container">
  <div class="row">
    <div class="col-md-12">
      {% assign destacadas = site.posts | where:"highlighted",true %}
      {% for destacada in destacadas %}
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <img src="{{ destacada.single_image[0].img }}" alt="{{ destacada.title }}" title="{{ destacada.title }}" class="img-responsive">
            </div>
            <div class="col-md-6">
              <h2>
                <a class="post-link" href="{{ destacada.url | prepend: site.baseurl }}">{{ destacada.title }}</a>
              </h2>
              <p>{{ destacada.intro }}</p>
              <span class="post-meta">{{ destacada.date | date: "%b %-d, %Y" }}</span>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% assign counter = 1 %}
    <div class="row">
  {% assign articulos = site.posts | where:"highlighted",false %}
  {% for post in articulos %}
      <div class="col-sm-4 col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading article-news">
            <img src="{{ post.single_image[0].img }}" alt="{{ destacada.title }}" title="{{ destacada.title }}" class="img-responsive">
          </div>
          <div class="panel-body">
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <p>{{ post.intro }}</p>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          </div>
        </div>
      </div>
    {% assign cnt = counter|modulo:3 %}
    {% if cnt == 0 %}</div><div class="row">
    {% endif %}
      {% assign counter = counter | plus:1 %}
  {% endfor %}
    </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
