<footer class="site-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <p class="rss-subscribe"><i class="fa fa-rss"></i> Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
      </div>
      <div class="col-md-4">
        <p class="text-center">
          Fundación Ciudadanía Inteligente
        </p>
      </div>
      <div class="col-md-4">
        <ul class="list-inline rrss">
      <li class="list-inline-item"><a href="mailto:{{ site.email }}" class="email-prensa" target="_top"><i class="far fa-envelope"></i></a></li>
            <li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/ciudadaniai/" ><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a target="_blank" href="https://www.twitter.com/ciudadania_i" ><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a target="_blank" href="https://www.instagram.com/ciudadaniai/" ><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a target="_blank" href="//github.com/ciudadanointeligente" ><i class="fab fa-github"></i></a></li>

        </ul>
      </div>
    </div>
  </div>
</footer>
