<div class="col-sm-4 col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading article-news">
      {% if post.single_image[0].img %}
      <img src="{{ post.single_image[0].img }}" alt="{{ destacada.title }}" title="{{ destacada.title }}" class="img-responsive">
      {% else %}
      <div class="no-image-header"></div>
      {% endif %}
    </div>
    <div class="panel-body">
      {% if post.category %}
      <div class="label label-default">
        {{ post.category }}
      </div>
      {% endif %}
      <h3>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h3>
      <p>{{ post.intro }}</p>
      <span class="post-meta">
        {% include post_date.html date=post.date%}
      </span>
    </div>
  </div>
</div>
